<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//JALIOS//DTD JCMS-PLUGIN 1.7//EN" "http://support.jalios.com/dtd/jcms-plugin-1.7.dtd">

  <plugin name="JaliosPlugin" version="1.0" author="Jalios SA" license="JALIOS" initialize="true" jcms="" order="0" url="" jsync="false" appserver="">

  <label xml:lang="fr">JaliosPlugin</label>
  <description xml:lang="fr">JaliosPlugin</description>

  <private-files>
    <directory path="properties" />
  </private-files>
  <public-files>
    <directory path="js" />
    <directory path="css" />
    <directory path="docs" />
    <directory path="jsp" />
    <directory path="images" />
    <directory path="hostedFonts" />
  </public-files> 
</plugin>

